@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: transparent;
}

@layer components {
    .base-font {
        font-family: a-otf-jun-pro, sans-serif;
        font-weight: 300;
        font-style: normal;
        @apply text-base;
    }
    .box {
        @apply bg-white rounded-lg p-4;
        box-shadow: 3px 3px 10px #cccccc, -5px -5px 10px #ffffff;
    }
    .contentBox {
        @apply my-2 box-border w-full md:w-[calc(50%_-_2rem)] relative;
    }
    .headingSec {
        @apply text-xl font-bold text-primary pb-2 border-b-2 border-primary;
    }
    .link {
        @apply p-2 w-full inline-block cursor-pointer relative mb-2 border-b-2 
      after:ml-2 after:w-2 after:h-2 after:inline-block after:align-middle after:border-2 after:rotate-45 after:border-l-0 after:border-b-0
      after:absolute after:top-1/2 after:-translate-y-1/2 after:right-2;
    }
    .sidebar {
        @apply overflow-y-scroll max-h-[calc(100vh-96px)];
        scrollbar-color: #eaeaea #fff;
        scrollbar-width: 8px;
    }

    .sidebar::-webkit-scrollbar {
        width: 8px;
    }
    .sidebar::-webkit-scrollbar-track {
        background: #eeeeee;
        border-radius: 999px;
    }
    .sidebar::-webkit-scrollbar-thumb {
        background: #adadad;
        border-radius: 999px;
    }
}
