.chromakey{
    position: absolute;
    right: 10%;
    bottom: 20px;
    display: flex;
    >*{
        margin: 10px;
    }
    &_green{
        background-color: #00ff00;
    }
    &_red{
        background-color: #ff0000;
    }
    &_blue{
        background-color: #0000ff;
    }
}