.frame{
  position: relative;
  padding: 20px;
  width: 450px;
  height: 300px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 2px dashed #EEEDE7;
  >*{
    margin: 0 auto
  }
}

.row{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page_title{
  color: #666;
  font-family: a-otf-jun-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.control{
  padding: 1rem;
  border-top: 3px solid #EEEDE7;
  border-bottom: 3px solid #EEEDE7;
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    > li{
      cursor: pointer;
      margin: 10px;
      font-size: 20px;
      color: #868B8E;
      background-color: #EEEDE7;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 10px;
      font-family: a-otf-jun-pro, sans-serif;
      font-weight: 300;
      font-style: normal;
      display: flex;
      align-items: center;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        border: 1px solid #868B8E;
        border-radius: 10px;
        box-sizing: border-box;
        display: block;
        width:100%;
        height: 100%;
        left: -3px;
        top: -3px;
        pointer-events: none;
      }
    }
  }
  .select{
    background-color: #d5ccc3;
    color: #ffffff;
    position: absolute;
    right: 0;
    z-index: 100;
    width: 200%;
    text-align: left;
    li{
      padding: 5px;
      box-sizing: border-box;
      position: relative;
      &:not(:last-child){
        border-bottom: 1px solid #ffffff;
      }
    }
    input,label{
      display: inline-block;
      width: auto;
      accent-color: #9b7e61;
      border-color: #fff;
    }
  }
  label, input{
    display: inline-block;
    cursor: pointer;
  }
  label{
    width: 90%;
  }
  input{
    width: 10%;
    margin-right: 10px;
    
  }
}
input.colorPick{
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
input.colorPick + label{
  opacity: 0;
}

.arrow{
  position: relative;
  &::before{
    content: "";
    border-top: 10px solid #B9B7BD;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    position: absolute;
    top: calc(50% + 5px);
    right: 5px;
    transform: translateY(-50%);
  }
}
