@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: transparent;
}

@layer components{
  .base-font{
    font-family: a-otf-jun-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    @apply text-base;
  }
  .contentBox{
    @apply my-2 box-border w-full md:w-[calc(50%_-_2rem)] relative border-2 border-primary rounded-md p-2 bg-white bg-opacity-60 filter backdrop-blur-md
    before:block before:w-full before:h-full before:absolute before:top-3 before:left-3
    before:bg-secondary before:bg-opacity-30 before:-z-10 before:rounded-md before:p-2;
  }
  .headingSec{
    @apply text-xl font-bold text-primary pb-2 border-b-2 border-primary;
  }
  .link{
    @apply p-2 w-full inline-block cursor-pointer relative mb-2 border-b-2 
    after:ml-2 after:w-2 after:h-2 after:inline-block after:align-middle after:border-2 after:rotate-45 after:border-l-0 after:border-b-0
    after:absolute after:top-1/2 after:-translate-y-1/2 after:right-2
  }
  .sidebar{
    @apply overflow-y-scroll max-h-[calc(100vh-96px)]
  }
}