.frame{
  position: relative;
  padding: 20px;
  width: 450px;
  height: 300px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 2px dashed #EEEDE7;
  >*{
    margin: 0 auto
  }
}

.page_title{
  color: #666;
  font-family: a-otf-jun-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.control{
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-height: 150px;
    overflow: hidden scroll;

    scrollbar-color: #eaeaea #fff;
    scrollbar-width: 8px;
    &::-webkit-scrollbar{
      width: 8px;
    }
    &::-webkit-scrollbar-track{
      background: #eeeeee;
      border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb{
      background: #adadad;
      border-radius: 999px;
    }

    li{
      position: relative;
    }
  }
  input[type="radio"]{
    display: none;
    &:checked + label::before{
      background: radial-gradient(#47a8ca, transparent);
    }
  }
  label{
    width: 90%;
    display: inline-block;
    cursor: pointer;
    padding: 10px 10px 10px 40px;
    &::before{
      content: "";
      position: absolute;
      display: block;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #eaeaea;
      box-sizing: border-box;
    }
  }
}
input.colorPick{
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
input.colorPick + label{
  opacity: 0;
}

.arrow{
  position: relative;
  &::before{
    content: "";
    border-top: 10px solid #B9B7BD;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    position: absolute;
    top: calc(50% + 5px);
    right: 5px;
    transform: translateY(-50%);
  }
}
